<div class="w-full min-h-screen text-white" style="background-color: #12151a;">
  <div class="flex flex-wrap justify-center m-auto pt-16 max-w-md">
    <div class="w-full mb-6">
      <h1 class="text-4xl font-bold mb-1">{{ selectedChain.name }} {{ selectedNetwork.name }} Faucet</h1>
      <p class="text-lg">
        {{ selectedChain.name }} {{ selectedNetwork.name }} Faucet for all of
        the testnet networks we support.
      </p>
    </div>

    <div class="w-full border-solid border-2 rounded p-6" style="background-color: #2e3238; border-color: #2e3238;">
      <div class="divide-y">
        <div class="pb-8">
          <div class="pb-6">
            <h3 class="text-lg">Drop in your wallet details</h3>
            <p class="text-sm">Connect your wallet!</p>
          </div>

          <button type="button"
            class="w-full justify-center text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2">
            <img src="../assets/icons/metamask-icon.svg" style="width: 24px;" class="mr-2" alt="" />
            Connect with MetaMask
          </button>
        </div>

        <div class="pt-8">
          <form>
            <div class="flex w-100 mb-6">
              <select
                class="mr-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="selectedChain" name="selectedChain" (ngModelChange)="changeChain($event)"
                [(ngModel)]="selectedChain">
                <option value="" disabled>Select your chain...</option>
                <option *ngFor="let c of chains" [ngValue]="c">
                  {{ c.name }}
                </option>
              </select>

              <select
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="selectedNetwork" name="selectedNetwork" [(ngModel)]="selectedNetwork">
                <option value="" disabled>Select your networks...</option>
                <option *ngFor="let n of selectedChain.networks" [ngValue]="n">
                  {{ n.name }}
                </option>
              </select>
            </div>

            <div class="mb-2">
              <label for="address" class="block mb-2 text-sm font-medium text-white dark:text-white">Your
                address</label>
              <input type="text" id="address"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="0xf2D15eeFBDC43F1c400ED67b60516F21ADd946a0" required />
            </div>
            <div class="flex">
              <p class="text-sm no-underline hover:underline">disconnet wallet</p>
            </div>

            <div class="flex flex-row-reverse mt-4">
              <button type="button" [disabled]="selectedNetwork == ''"
                class="text-white disabled:bg-blue-400 disabled:cursor-not-allowed bg-blue-700 flex text-center align-middle hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Recieve
                <svg class="w-5 h-5 text-gray-800 ml-3 dark:text-white" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 20 20">
                  <path
                    d="M11.074 4 8.442.408A.95.95 0 0 0 7.014.254L2.926 4h8.148ZM9 13v-1a4 4 0 0 1 4-4h6V6a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h17a1 1 0 0 0 1-1v-2h-6a4 4 0 0 1-4-4Z" />
                  <path
                    d="M19 10h-6a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1Zm-4.5 3.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM12.62 4h2.78L12.539.41a1.086 1.086 0 1 0-1.7 1.352L12.62 4Z" />
                </svg>
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>